<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Main Page</title>
    <link rel="stylesheet" href="../css/pure-release-0.6.0/pure-min.css">
    <link rel="stylesheet" href="../css/side-menu.css">
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        var username = <%- JSON.stringify(username) %>;
        var catalog = <%- JSON.stringify(catalog) %>;
        var userdata = <%- JSON.stringify(userdata) %>;
        var datasetinfo = <%- JSON.stringify(datasetinfo) %>;
        var clusterNum = <%= clusterNum %>;
        var corpusNum = <%= corpusNum %>;
        var timeslotNum = <%= timeslotNum %>;
        var maxdocNum = <%= maxdocNum %>;
        var cur_dataset = <%= datasetID %>;
    </script>
</head>
<body>
<div id="layout">

    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu" id="dataset-alterer">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" onclick="DisplayOrHideCatalogBar();">
                        Datasets:
                    </a>
                </li>
            </ul>
        </div>
        <div class="pure-menu catalog-full-list" id="catalog-bar">
            <ul class="pure-menu-list">
                <% for(var i = 0; i < catalog.length; i++) { %>
                    <li class="pure-menu-item">
                        <a href="http://52.10.89.29:3000/index?dataset=<%=i%>&username=<%=username%>" class="pure-menu-link dataset-link" id="dataset-link-<%=i%>">
                        <!--<a href="http://127.0.0.1:3000/index?dataset=<%=i%>&username=<%=username%>" class="pure-menu-link dataset-link" id="dataset-link-<%=i%>">-->
                            <%= catalog[i].name %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="pure-menu" id="cluster-alterer">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" onclick="DisplayOrHideClusterBar();">
                        Topic clusters:
                    </a>
                </li>
            </ul>
        </div>
        <div class="pure-menu" id="cluster-bar">
            <!--<a class="pure-menu-heading" href="#">Topic Clusters</a>-->
            <ul class="pure-menu-list">
                <% for(var i = 0; i < clusterNum; i++) { %>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link topic-link" id="topic-<%=i%>">Topic cluster <%=(i+1)%></a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="username-area">
            <%= username %>
        </div>
    </div>

    <div class="right-sidebar">

        <div class="pure-g" id="doc-feature">
            <h2 style="margin-left: 0.3em;">Bag-of-words:</h2>
            <textarea class="pure-input-rounded" id="doc-feature-box"></textarea>
        </div>

        <div class="pure-g" id="doc-content">
            <h2 style="margin-left: 0.3em;">Document Content:</h2>
            <textarea class="pure-input-rounded" id="doc-content-box"></textarea>
        </div>

    </div>

    <div id="main">
        <!--<div class="header">-->
            <!--<h1><%= username %></h1>-->
        <!--</div>-->
        <div class="content">

            <div class="doc-picker-bar">
                <div class="pure-g">
                    <% for(var i = 0; i < maxdocNum; i++) { %>
                        <div class="pure-u doc-picker" id="doc_<%=i%>"></div>
                    <% } %>
                </div>
            </div>

            <div class="corpora-container">
                <% for (var k = 0; k < corpusNum; k++) { %>
                    <div class="pure-g corpus-row">
                        <% for(var i = 0; i < timeslotNum; i++) { %>
                        <div class="pure-u timeslot">
                            <div class="timeslot-box" id="timeslot-box-<%=k%>-<%=i%>">

                            </div>
                            <div class="rank-tag" id="rank-tagparent-<%=k%>-<%=i%>">
                                <input type="text" id="rank-tag-<%=k%>-<%=i%>" class="pure-input-rounded rank-tag-input" style="width:61.8%"/>
                            </div>
                        </div>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <div class="topic-vector-container">
                <div class="topic-bagfea pure-g">
                    <% for (var i = 0; i < timeslotNum; i++) { %>
                        <div class="pure-u topic-vec">
                            <div class="single-topic-fea" id="feature-<%=i%>">
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="../js/ui.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>

